*{
    outline: solid 1px black;
}
* {
    margin: 0;
    padding: 0;
    }

body {
    
    font-family: 'Roboto', sans-serif;
    }

.nav{
    background-color: black;
    color: white;
    
}
a{
    color: white;
    text-decoration: none;
    
}
.flex-container {
    width: 1000px;
    border: 2px solid black;
    margin-top: 50px;
    margin-left: 400px;
    }
    
.user-card {
    
    overflow: hidden;
    }
    
.card-header {
    background-color: #17a2b7;
    height: 100px;
    }
    
.card-body {
    padding: 50px;
    }
    
.card-body h1,
.card-body h2,
.card-body h3,
.card-body p {
    margin: 20px 0px;
    }
    
.avatar-m {
    border-radius: 50%;
    width: 100px;
    margin-top: 50px;
    margin-left: 30px;
    }
    
.icon-s {
    height: 20px;
    }
    


* {
    margin: 0;
    padding: 0;
    }

body {
    
    font-family: 'Roboto', sans-serif;
    }
    
.flex-container {
    width: 700px;
    border: 2px solid black;
    margin-top: 50px;
    margin-left: 300px;
    }
    
.user-card {
    
    overflow: hidden;
    }
    
.card-header {
    background-color: #17a2b7;
    height: 100px;
    }
    
.card-body {
    padding: 50px;
    }
    
 p {
    margin: 20px 0px;
    }
    
.avatar-m {
    border-radius: 50%;
    width: 100px;
    margin-top: 50px;
    margin-left: 30px;
    }
    
.icon-s {
    height: 20px;
    }

.educ{
    margin: 0 auto;
    outline: solid rgb(0, 0, 0);
    width: 635px;
    margin-top: 50px;
    padding: 2em; 
  

}
.educ2{
    width: 675px;
    margin-left: -32px;
    margin-top: -33px;
    color:white;
    font-size: 10px;
    background-color: grey;
    padding: 12px;
}
h3{
    font-size: 25px;
    margin-top: 14px;
}
h5{
    font-size: 18px;
}


